.topNav{
  background-color: #3F0B0A;
  height: 90px;
  padding-left: .5em;
}
.topNavContainer{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 90px;
  width: 100%;
}

.UHSSEAL {
  height: 70px;

}
.titleText{
  font-size: 16px;
  color: #EFD071;
  font-weight: 700;
}
.subtitle{
  font-size: 13px;
  color: #fff;
  font-weight: 700;
}
a{
  text-decoration: none;
  color: black;
}
/* Maroon Nav code ^^  */



/* .topNav{
  background-color: #3F0B0A;
  height: 160px;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  align-items: center;
  padding-bottom: 0;
}
.UHSSEAL{
  height: 75px;
  max-height: 110px; 
  margin-bottom: .5em;
}
.titleText{
  font-size: 16px;
  color: #EFD071;
  font-weight: 700; 
}
.subtitle{
  font-size: 13px;
  color: #fff;
  font-weight: 700;
} */