
.navContainer {
  text-align: center;
  height: 53px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  position: sticky; 
  width: 100%;
  top: 0;
  left: 0;
}
.parent{
  padding: 12px 15px 0px 15px;
  display: flex;
}


.home-icon{
  height: 35px;
}
.hamburgerMenu{
  margin-left: auto;
  float: right;
}




.menuLine1{
  background-color: black;
  height: 6px;
  width: 33px;
  border-radius: 8px;
}
.menuLine2{
  background-color: black;
  height: 6px;
  width: 33px;
  border-radius: 8px;
  margin-top: 5px;
}
.menuLine3{
  background-color: black;
  height: 6px;
  width: 33px;
  border-radius: 8px;
  margin-top: 5px;
}